<p id="notice"><%= notice %></p>

<h1>Listing Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Barrio</th>
      <th>Direccion</th>
      <th>Refdir</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Ocacion</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.celular %></td>
        <td><%= cliente.barrio %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.refdir %></td>
        <td><%= cliente.fecha %></td>
        <td><%= cliente.hora %></td>
        <td><%= cliente.ocacion %></td>
        <td><%= cliente.valor %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
