<p id="notice"><%= notice %></p>

<h1>Lista de Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Celular</th>
      <th>Barrio</th>
      <th>Dirección</th>
      <th>Referencia de la dirección</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Ocación</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= link_to cliente.nombre, cliente %></td>
        <td><%= link_to cliente.telefono, cliente %></td>
        <td><%= cliente.celular %></td>
        <td><%= cliente.barrio %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.refdir %></td>
        <td><%= cliente.fecha %></td>
        <td><%= cliente.hora %></td>
        <td><%= cliente.ocacion %></td>
        <td><%= cliente.valor %></td>
        <td><%= link_to 'Ver', cliente %></td>
        <td><%= link_to 'Editar', edit_cliente_path(cliente) %></td>
        <td>
        <% if can? :destroy, cliente %>
        <%= link_to 'Eliminar', cliente, method: :delete, data: { confirm: 'Borraras los datos del cliente?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_cliente_path %>

<%# if can? :destroy, cliente %>
   <%#= link_to t('.destroy', :default => t("helpers.links.destroy")), cliente_path(client), :method => :delete,
   :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sur   e?')) }, :class => 'btn btn-mini btn-danger' %>
 <%# end %>